.root {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.search {
	margin: 100px 1.0em 0;
	transition: margin-top 0.2s;

	&:mod("initial") {
		margin-top: 200px;
	}
}

.result {
	margin: 2.0em 1.0em 0;

	&:mod("initial") {
		display: none;
	}
}
